@import "../../utils/less/variables.less";

button{
    color: lighten(skyblue,5%);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover{
        color:darken(skyblue,15%) ;
    }
}