@import "../../utils/less/variables.less";
.siderWrp{
    height: 100%;
    background-color: darken(skyblue,55%);
    .topLogo{
        .h(64);
        padding: 0.1rem;
        img{
            height: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .navItem{
        font-weight: bold;
        .f(14);
    }
    .active{
        .f(16);
    }
    
}