@import "../../utils/less/variables.less";

.header{
        .h(75);
        background-color: white;
        .upper{
            .h(40);
            border-bottom: skyblue solid 2px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 0 20px;
        .welcome{
            line-height: 0.8rem;
        }
        .logoutBtn{
            margin:0 20px;
            .f(16)
        }
        .title{
            text-transform: capitalize;
            .f(22)
        }

        }
        
}